$sub-color: #434343;
$main-color: #1d1d1d;

.sign-in{
  width: 380px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .title{
    margin: 10px 0;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
  }
}
