.header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-left: 0px;

  .logo{
    background-image: url(../../Assets/Logo.svg);
    width: 50%;
    height: 70%;
  }

  .logo-container{
    height: 100%;
    width: 70px;
    padding: 10px;
  }

  .options{
    width: 30%;
    height: 100%;
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: flex-end;

    .option{
      padding: 10px 20px;
    }
  }
}
