.header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-left: 80px;

  .logo{
    background-image: url(../../Assets/Logo.Svg);
  }

  .logo-container{
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options{
    width: 50%;
    height: 100%;
    display: flex;
    padding-right: 160px;
    align-items: center;
    justify-content: flex-end;

    .option{
      padding: 10px 15px;
    }
  }
}
