body{
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 80px;
}

a{
  text-decoration: none;
  color: #111;
}

*{
  box-sizing: border-box;
}
